# review 1 : pyramid

In [19]:
def num_pyramid(n):
    
    for i in range(1, n+1):
        for j in range(i):            # 여전히 이해 안됨...
            print(i, end="")
            
        print()

num_pyramid(5)

1
22
333
4444
55555

In [17]:
def star_pyramid(n):
    for i in range(1, n+1):
        print("*" * i)
        
star_pyramid(5)

*
**
***
****
*****

# review 2 : factorial

In [24]:
n = 5
fact = 1

for i in range(1, n+1):
    fact *= i  # fact = fact * i와 동일
               # fact의 값이 계속 바뀜. 1*1 -> 2*3 -> 3*4 -> 4*5
    
print(fact)

120

In [31]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    print(fact)
        
factorial(5)

120

In [201]:
def facto(n):
    for i in range(1, n+1):
        if n == i:
            return 1
        return n * facto(n-1)

facto(5)

120

In [203]:
# list 내부 원소들간의 곱을 이용할 수 있는 방법이 있을까?

def factorial2(n):
    
    fact = list(range(1, n+1))       # n값 입력시, 1부터 n+1까지의 리스트 생성 [1, 2, 3, ··· n]
        
    
factorial2(5)

In [ ]:
list[0]

# review 3 : multi_table

In [2]:
n = 2

for i in range(1, 10):
n     print(n * i)

2
4
6
8
10
12
14
16
18

In [16]:
# 입력값 * 1 ~ 9를 출력

def mult_table(n):
    
    print(n,"단")
    print()
    
    for i in range(1, 10):
        print(n, "*", i, "=", n * i)
        
mult_table(9)

9 단

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [24]:
# 1 ~ 9 사이의 입력값 * 1 ~ 9를 출력

def mult_table(n):
    
    if (n <= 0) | (n >= 10):                          # | == or,  & == and
        print("1 ~ 9 사이의 숫자를 입력해주세요.")
        
    else:
        print(n,"단")
        print()

        for i in range(1, 10):
            print(n, "*", i, "=", n * i)

mult_table(10)

2 단

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# review 4 : prime_number

In [ ]:
# prime_number == 소수(1과 자기 자신만을 약수로 가지는 숫자)
# 함수에 입력값 대입 시 소수인지 아닌지를 검증하는 프로그램 작성

In [64]:
n = 333

if (n == 1) | (n == 2):
    print(n, "은(는) 소수입니다.")
    
elif n <= 0:
    print("1 이상의 값을 입력해주세요.")
    
else:
    for i in range(2, n+1):   
        
        if n == i:
            print(n, "은(는) 소수입니다.")
        
        elif n % i == 0:
            print(n, "은(는) 소수가 아닙니다.")
            break

333 은(는) 소수가 아닙니다.

In [90]:
n = int(input("검증할 숫자를 입력하십시오: "))
verifi = 0           # verifi == verification variable

for i in range(2, n):
    if n % i == 0:
        verifi = 1
        break
        
if (n <= 1):
    print("2이상의 값을 입력하십시오.")        
        
elif (verifi == 1):
    print(n, "은 소수가 아닙니다.")
    
else:
    print(n, "은 소수입니다.")

검증할 숫자를 입력하십시오: 133
133 은 소수가 아닙니다.

In [65]:
n = int(input("검증할 숫자를 입력해 주세요 : "))

def prime_num(n):
    
    vf = 0
    
    for i in range(2, n):
        if n % i == 0:
            vf = 1
            break
    
    if n <= 0:
        print("2이상의 자연수를 입력해주세요.")
    
    elif vf == 1:
        print(n, "은(는) 소수가 아닙니다.")
        
    else:
        print(n, "은(는) 소수입니다.") 
        
prime_num(n)

검증할 숫자를 입력해 주세요 : 333
333 은(는) 소수가 아닙니다.

In [100]:
# 1 ~ n 까지의 범위중 소수를 출력하는 프로그램

n = 19
vf = 0

for i in range(1, n):        
    
    for j in range(2, i+1):
        
        if j == i:
            print(j)
            
        elif i % j == 0:
            break

2
3
5
7
11
13
17

# assignment 1 :  강정현, 이유경, 손유진, 부석민

In [ ]:
'''

성적에 맞는 등급을 적용하려고 한다

성적을 입력시 90점이상은 'A' 등급 80점대는 'B'등급 나머지는 'C'등급으로 하고자 한다.

'''

In [12]:
def test_grade(n):
    
    if (n > 100) or (n < 0):
        print("성적을 다시 입력하세요.")
    
    elif n == 100:
        print("A+")
        
    elif n >= 90:
        print("A")
        
    elif n >= 80:
        print("B")
        
    else:
        print("C")
        
test_grade(100)

A+

In [ ]:
'''

1부터 100자리 숫자를 나열하고 그 중 짝수 조건에 해당하는 숫자만 가려내서 출력하고자 한다.

# 1부터 100까지의 숫자 중 짝수만 출력되게 하시오. (단, 두자리 숫자만 출력되게하시오)
    
'''

In [48]:
# 1부터 n까지 숫자 사이의 두 자리수 짝수만 출력하는 프로그램

def even_num(n):
    
    if (n <= 0) or (n < 10):  # n이 음수이거나, n이 10보다 작을 경우 제외
        print
        ("10이상의 값을 입력해주세요.")
    
    for i in range(1, n+1):
                                         
        if i % 2 == 1:        # 임의의 값을 2로 나누었을 때의 나머지가 1(홀수)인 경우 제외
            continue
            
        elif i >= 10:         # 두 자리수 이상만 출력
            print(i)
        
even_num(18)

10
12
14
16
18

In [119]:
n = 50

for i in range(1, n):
    
    for j in range(2, i+1):
        
        if i == j:
            print(i)

        elif i % j == 0:
            break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# assignment 2 :  류선영, 유지현, 이진의, 정주영

In [ ]:
'''

문제 1.

A와 B가 1부터 5까지의 카드를 각각 한장씩 가지고 있다.

둘 다 자신이 가진 카드를 순서대로 뽑고 난 후 뽑힌 카드의 숫자를 순서대로 비교하여 큰 수를 낸 사람이 이기는 숫자 게임을 했다.


5개의 카드를 모두 비교하여 게임에서 이긴 사람을 출력하라.
만약 비겼을 경우 비겼음이라고 출력한다.

'''

In [197]:
A = [3, 1, 4, 2, 5]
B = [1, 5, 3, 4, 2]

A_Win = 0
B_Win = 0

for i in range(len(A)):
        
    if A[i] > B[i]:
        A_Win += 1

    elif A[i] < B[i]:
        B_Win += 1    

    elif A[i] == B[i]:
        A_Win += 0

if A_Win > B_Win:
    print("A 승")

elif A_Win == B_Win:
    print("무승부")

else:
    print("B 승")

A 승

In [195]:
list_a = [5, 5, 5, 3, 3, 3]
list_b = [3, 3, 3, 5, 5, 5]
game_len = len((list_a))

def game_result(a, b):
    
    a_win = 0   # a가 승리한 횟수
    b_win = 0   # b가 승리한 횟수
    draw = 0    # 무승부 횟수
    
    for i in range(game_len):
        
        if a[i] > b[i]:
            a_win += 1     # a가 승리한 횟수 + 1
        elif a[i] < b[i]:
            b_win += 1     # b가 승리한 횟수 + 1
        else:
            draw += 1      # 무승부한 횟수 + 1
            
    if a_win > b_win:
        print("A 승")
    elif a_win < b_win:
        print("B 승")
    else:
        print("무승부")
    
game_result(list_a, list_b)

무승부

# assignment 3 :  박태영, 김영민, 정일균, 이재선

In [234]:
# 설정온도보다 입력온도가 높을 경우 "hot", 낮을경우 "cold"를 출력하는 프로그램을 작성하시오.


def temp(inp):
    
    set_temp = 22
    
    if abs(set_temp - inp) <= 3:   # abs() = 절대값 / ±3도는 적당한 온도로 판정
        print("proper")
        
    elif set_temp - inp <= 0:      # 입력 온도 - 설정 온도의 값이 음수일 경우, 너무 높은 온도가 설정되어 있으므로 hot을 출력
        print("hot")
        
    else:
        print("cold")              # 위의 두 조건에 해당하지 않을 경우 cold를 출력
        
temp(20)

proper

# assignment 4 :  손정현, 이성규, 김수연

In [ ]:
'''

# 문제 1

주어진 텍스트에서 어몽어스가 몇번째에 있는지 일렬로 나열하여 표현하라!                     
예로 들어 text = ["시민", "의사","시민", "의사", "어몽어스"]는 ○ ○ ○ ○ ● 와 같이 출력하여라     
어몽어스는 ●, 시민과 의사는 ○로 표현된다. (또는 어몽어스를 X, 시민과 의사를 O로 표현하여라)                                                


-----------------------------# Mission # --------------------------------------------------
              text = ["시민", "시민","어몽어스", "시민", "의사"]                           
 ---------------------------# Output # -------------------------------------------------- 
                               ○ ○ ● ○ ○                                                 
-----------------------------------------------------------------------------------------

'''

In [233]:
def among(t_list):
    
    for i in range(len(t_list)):
        if t_list[i] == '어몽어스':
            print('●', end=' ')
            
        else:
            print('○', end=' ')
        
among_list = ['시민', '시민', '어몽어스', '시민', '의사', '어몽어스', '시민'] 
among(among_list)

○ ○ ● ○ ○ ● ○

In [ ]:
'''

# 문제 2

성규는 오늘 6월 23일 생일이다. 
기쁜 마음으로 성규는 B마트에서 가서 사고 싶은 물건을 사고자 한다. 
이때 성규가 가지고 갈 돈과 B마트에서 물건 값을 임의로 받아 사고 싶은 물건을 살 수 있을지 없을지에 대한 결과값을 나타내시오
(결과값은 크기만 비교해도 상관없다.)

# 원하는 출력 결과 화면

# case1
사고싶은 물건의 값 5000
성규가 가져갈 돈 100
못사요 ㅠ

# case2
사고싶은 물건의 값 5000
성규가 가져갈 돈 10000
충분히 살 수 있습니다.


# case3
사고싶은 물건의 값 100
성규가 가져갈 돈 100
간당간당하게 살 수 있습니다.

'''

In [242]:
price = int(input("상품의 가격: "))
money = int(input("성규가 가져갈 돈: "))

if money-price < 0:
    print("못사요 ㅠ")
    
elif money-price > 0:
    print("충분히 살 수 있습니다.")
    
else:
    print("간당간당하게 살 수 있습니다.")

상품의 가격: 5000
성규가 가져갈 돈: 10000
충분히 살 수 있습니다.

In [ ]:
# 문제 3

A 회사에서 계산기를 만들어보고자 한다.
임의의 두 수(정수)를 차례대로 넣었을 때 덧셈, 뺄셈, 곱셈, 나눗셈에 대한 값이 차례데로 나오도록 설계하시오.
단, 아래와 같은 결과값이 나와야합니다.

# 원하는 출력 결과 화면
첫번째 숫자를 입력하세요 1
두번째 숫자를 입력하세요 2
더한값은 3 입니다.
뺀값은 -1 입니다.
곱셈한 값은 2 입니다.
나눈값은 0입니다.

In [248]:
num_1 = int(input("첫 번째 숫자를 입력하세요: "))
num_2 = int(input("두 번째 숫자를 입력하세요: "))

def four_calculate(num_1, num_2):
    
    print("더한 값은: ", num_1 + num_2)
    print("뺀 값은: ",num_1 - num_2)
    print("곱한 값은: ",num_1 * num_2)
    print("나눈 값은: ",num_1 / num_2)
    
four_calculate(num_1, num_2)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
더한 값은:  3
뺀 값은:  -1
곱한 값은:  2
나눈 값은:  0.5

# assignment 5 :  윤정화, 이현수, 장수정, 천호종

미션 1) 음식 배달비 최종 결제 금액 계산하기

pizza = 15,000원
spaghetti = 8,000원
cola = 2,000원
delivery = 2,000원

주문자에게 pizza, spaghetti, cola를 각각 몇개씩 주문할 지 물어보고, 
음식의 총 합이 30,000원 이상이면 배달비 0원, cheeseball 을 증정
음식의 총 합이 20,000원 이상 30,000원 미만이면 배달비 0원
음식의 총 합이 20,000원 미만이면 배달비 2,000원을 부과 한다고 가정할 경우
음식 배달비의 최종 결제 금액을 계산하는 프로그램을 만드시오.

In [19]:
pl = [15000, 8000, 2000, 2000] # price_list [pizza, spaghetti, coke, delivery]

piz_call = int(input("피자 주문 수량을 입력하세요: "))        
spa_call = int(input("스파게티 주문 수량을 입력하세요: "))    
cok_call = int(input("콜라 주문 수량을 입력하세요: "))        

def final_price(piz_call, spa_call, cok_call):
    
    price = (piz_call * pl[0]) + (spa_call * pl[1]) + (cok_call * pl[2])
    
    if price >= 30000:
        print()
        print("최종 결제금액 :", price)
        print("30000원 이상 결제시 치즈볼 증정")
        
    elif 19999 < price < 29999:
        print("최종 결제금액 :", price)
        
    else:
        print("최종 결제금액 :", price+pl[3])        
        
final_price(piz_call, spa_call, cok_call)

피자 주문 수량을 입력하세요: 0
스파게티 주문 수량을 입력하세요: 0
콜라 주문 수량을 입력하세요: 1
최종 결제금액 : 4000

미션 2) 회전 초밥의 최종 결제 금액 계산하기

박 사장이 운영하는 회전 초밥집은 대박이 나서 계산을 하는 일손이 부족한 실정이다.박 사장은 손님이 먹은 접시의 색을 구분하고 계산하는 기계를 요청했고 업체는 색을 구분하는 소프트웨어를 개발했다. 색을 구분한 결과가 리스트 타입으로 주어졌을 때 최종 금액을 계산하는 프로그램을 작성하시오. 

black : 4000
red : 3500
green : 3000
yellow : 2500

예시 : ["red", "black", "green", "green", "yellow", "red", "green", "red", "black", "yellow"]

# personal practice : fibonacci_numbers